#################################################################
#   Copyright (C) 2018  
#   This program and the accompanying materials are made
#   available under the terms of the Eclipse Public License 2.0
#   which is available at https://www.eclipse.org/legal/epl-2.0/ 
#   SPDX-License-Identifier: EPL-2.0
#   Contributors: ATOS SPAIN S.A.
################################################################# 

# These are just mere samples
# Do not forget that configuring them is a mandatory step to make this work

# Variables
# LORAWAN_APP_SERVER --> "LoRaServer" or "TTN"
# LORAWAN_APPID --> Name of the application
# LORAWAN_PSW --> Password
# LORAWAN_MQTT_URL --> Endpoint of the MQTT Broker   
# LORAWAN_MQTT_PORT --> Port (by default, 1883)
# LORAWAN_MQTT_TOPIC --> Topic to which we will subscribe (specific examples below)

# For LoRaServer
LORAWAN_APP_SERVER="LoRaServer" 
LORAWAN_APPID="app_name"
LORAWAN_PSW="<LoRaServer password>"
LORAWAN_MQTT_URL="<MQTT Broker URL>"   
LORAWAN_MQTT_PORT=1883 
LORAWAN_MQTT_TOPIC="application/+/node/+/rx"   # Default topic for LoRaserver uplink (get all)

# For TTN 
LORAWAN_APP_SERVER="TTN"  # Current options handled ("TTN", "LoRaServer")
LORAWAN_APPID="app_name"
LORAWAN_PSW="ttn-account-v2.----"
LORAWAN_URL="eu.thethings.network"   
LORAWAN_MQTT_PORT=1883 
LORAWAN_MQTT_TOPIC="+/devices/+/up"           # Default topic for TTN's uplink (get all)