APP_SERVER = "LoRaServer"  # Current options handled ("TTN", "Dummy", "LoRaServer")

#Parameters to be filled 
APPID  = "ttn_appId"
PSW    = 'ttn-account-v2.uuid'
UTL = 'eu.thethings.network'
PAYLOAD = "clear"    # Current options ("clear", "base64")